$module: 		'canvas';

.#{$module} {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&__wrap {
		overflow: scroll;
		width: 100vw;
		height: 100vh;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		padding-left: em(230);
		right: 0;
		top: 0;
		@include transition-property(transform);
		@include transition-duration(0.5s);
		@include transition-timing-function(linear);

		@include bp(tab-s-a) {
			padding-left: 0;
		}

		&.active {
			@include transform(translateX(calc(100vw - 500px)));
		}
	}

	&__innerwrap {
		position: relative;

		&.animationMode {
			cursor: url('../../assets/flag.png') 0 50, auto;
		}
	}
}