$module: 		'canvas';

.#{$module} {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&__wrap {
		overflow: scroll;
		width: 100vw;
		height: 100vh;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		padding-left: 100vw;
		right: 0;
		top: 0;
		backface-visibility: hidden;
	}

	&__innerwrap {
		position: relative;
		@include transition-property(transform);
		@include transition-duration(0.15s);
		@include transition-timing-function(linear);

		&.active {
			@include transform(scale3d(1.2,1.2,1.2));
		}

		&.animationMode {
			cursor: url('../../assets/flag.png') 0 50, auto;
		}

		@include bp(tab-xl) {
			@include transform-origin(center center);
			@include transform(scale3d(0.8,0.8,0.8));
		}
	}

	&__tooltip {
		@extend %big-link;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: em(200);
		max-width: none;
		background-color: rgba(white,0.8);
		color: $color1;
		border: 0;

		.#{$module}__html:hover & {
			@include display(flex);
		}

		&:hover {
			background: rgba(white,0.8);
			color: $color1;
		}

		.#{$module}__html.active & {
			display: none;
		}
	}

	&__tooltip-text {
		@extend %big-link__text;
	}

	&__tooltip-arrow {
		@extend %big-link__arrow;
	}
}