::-webkit-scrollbar { 
    display: none; 
}

* {
	box-sizing: border-box;
	overflow: -moz-scrollbars-none !important;

	@include bp(tab-l) {
		overflow: auto !important;
	}
}

html {
	font-size: 62.5%;
}

body {
	background-color: black;
	@include font-size($fzBase);
	font-family: $ffBase;	
}

.innerwrap {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	&:active {
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
	}
}

.hide {
	display: none !important;
}

#templates {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}