$module: 		'header';


.#{$module} {
	width: 100%;
	z-index: 3;
	color: white;
	cursor: auto;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	bottom: 0;
	padding: em(20) em(20) em(20) em(35);
	background-color: rgba(black,0.7);

	.homeActive & {
		background-color: transparent;
	}

	@include bp(tab-l-b) {
		position: relative;
	}
}