$module: 		'nav';

.#{$module} {
	overflow-y: scroll;
	height: 100%;

	&__item {
		display: block;
		cursor: pointer;
		margin-bottom: em(30);
	}

	&__item-image {
		width: em(35);
		height: em(35);
		border-radius: 100%;
		background-color: rgba(white,0.5);
		display: inline-block;
		vertical-align: middle;
		@include transition(background-color 0.15s linear);
		overflow: hidden;
		position: relative;
		z-index: 1;

		.#{$module}__item:hover & {
			background-color: white;
		}
	}

	&__svg {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		max-width: 88%;
		height: auto;
		margin: 0 auto;
		display: block;
		@include transform(translateY(0));
		@include transition-property(transform);
		@include transition-duration(0.15s);
		@include transition-timing-function(linear);

		.#{$module}__item:hover & {
			@include transform(translateY(-95%));
		}
	}

	&__item-title {
		$fontSize: 16;
		font-size: em($fontSize);
		display: inline-block;
		vertical-align: middle;
		padding-left: em(10,$fontSize);
		color: rgba(white,0.5);
		@include transition(color 0.15s linear);

		.#{$module}__item:hover & {
			color: white;
		}
	}
}