$module: 		'side-panels';

.#{$module} {
	position: absolute;
	top: 0;
	bottom: 0;
	width: em($navWidth);
	z-index: 2;
	backface-visibility: hidden;

	@include bp(tab-l-b) {
		width: 100%;
		background-color: rgba(black,0.6);
		max-height: em(125);
		overflow: hidden;
		@include transition(max-height 0.15s linear);

		&.navActive, &.homeActive {
			max-height: 100vh;
		}
	}

	&__pancake {
		position: absolute;
		right: em(40);
		top: em(45);
		cursor: pointer;
		z-index: 10;
		width: em(35);
		height: em(25);
		background-color: transparent;
		background-image: none;
		border: 0;
		outline: 0;
		box-shadow: none;
		display: none;
		padding: 0;

		@include bp(tab-l-b) {
			display: block;
		}

		.#{$module}.articlesActive & {
			display: none;
		}
	}

	&__pancake--articles {
		@extend .#{$module}__pancake;
		@include transform(rotate(180deg));
		display: none;

		svg path {
			fill: white;
		}

		.#{$module}.articlesActive & {
			@include bp(tab-l-b) {
				display: block;
			}			
		}
	}

	&__pancake-line {
		background-color: white;
		width: 100%;
		left: 0;
		height: em(3);
		position: absolute;
		top: 50%;
		margin-top: em(-2);

		&:nth-child(1) {
			top: 0;
			margin-top: 0;
		}

		&:nth-child(3) {
			top: auto;
			bottom: 0;
			margin-top: 0;
		}

		.#{$module}.navActive &, .#{$module}.homeActive & {
			&:nth-child(1) {
				@include transform(rotate(45deg));
				@include transform-origin(center);
				top: 50%;
				margin-top: em(-1);
			}

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				@include transform(rotate(-45deg));
				@include transform-origin(center);
				top: 50%;
				margin-top: em(-1);
			}
		}
	}
}