$module: 		'btn';

.buttons {
	position: fixed;
	bottom: em(5);
	right: em(5);
	z-index: 10;
}

.#{$module} {
	background-image: none;
	outline: 0;
	border: 0;
	box-shadow: none;

	&-primary {
		@extend .#{$module};
		display: inline-block;
		margin: em(10);
		$fontSize: 20;
		font-size: em($fontSize);
		background-color: forestgreen;
		border-radius: em(6,$fontSize);
		padding: em(10,$fontSize) em(20,$fontSize);
		color: white;

		&:hover {
			background-color: darken(forestgreen,10%);
		}
	}
}