$module: 		'animation-palette';

.#{$module} {
	&__item {
		padding: em(10);
		display: inline-block;
		vertical-align: bottom;
		border: 1px solid transparent;

		&.active {
			border: 1px solid white;
		}
	}
}