$module: 			'tower-bridge';

.#{$module} {
	pointer-events: none;
	perspective: 800px;
	perspective-origin: right;

	.palette & {
		height: 100%;
	}

	&__image {
		width: 100%;
		height: 100%;
		position: relative;
		top: em(15);
		left: em(36);

		.palette & {
			position: static;
		}
	}

	&__ramp--off {
		position: absolute;
		width: em(50);
		height: em(60);
		background-color: $color1;
		right: em(70);
		top: em(18);
		@include transform(rotateX(48deg)rotateY(0)rotateZ(43deg));

		.palette & {
			display: none;
		}
	}

	&__ramp {
		position: absolute;
		left: em(12);
		bottom: 0;
		width: em(50);
		height: em(50);
		@include transform(rotateX(60deg) rotateY(5deg) rotateZ(33deg)translateX(-14px)translateY(-10px));
		background-color: $color1;

		.palette & {
			display: none;
		}
	}

	&__drawbridge-left, &__drawbridge-right {
		position: absolute;
		display: block;

		.palette & {
			display: none;
		}
	}

	&__drawbridge-left {
		top: em(102);
		left: em(85);
		transform-origin: left;		

		&:before {
			content: "";
			background-color: red;
			position: absolute;
			
		}

		.#{$module}.active & {
			@include animation(raiseLeft 10s linear infinite);
		}

		body.scrolling & {
			@include animation(none);
		}
	}

	&__drawbridge-right {
		
		transform-origin: top;
		top: em(70);
		left: em(139);

		.#{$module}.active & {
			@include animation(raiseRight 10s linear infinite);
		}

		body.scrolling & {
			@include animation(none);
		}
	}

	&__left {
		width: percentage(263/783);
		height: auto;
		position: absolute;
		left: em(10);
		top: em(-8);
	}

	&__right {
		position: relative;
		right: em(84);
		top: em(-106);
		width: percentage(520/783);
		height: auto;
		position: absolute;

		.palette & {
			top: em(-20);
			left: em(20);
		}
	}
}

@keyframes raiseLeft {
	10% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}

	26% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}

	30% {
		@include transform(rotateX(-20deg)rotateY(-30deg)rotateZ(-20deg)translateY(5px)translateZ(5px)translateX(0px));
	}

	70% {
		@include transform(rotateX(-20deg)rotateY(-30deg)rotateZ(-20deg)translateY(5px)translateZ(5px)translateX(0px));
	}

	74% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}

	85% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}
}

@keyframes raiseRight {
	0% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}

	25% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}

	30% {
		@include transform(rotateX(-70deg) rotateY(-20deg) rotateZ(0deg) translateY(-5px) translateZ(0px) translateX(2px));
	}

	70% {
		@include transform(rotateX(-70deg) rotateY(-20deg) rotateZ(0deg) translateY(-5px) translateZ(0px) translateX(2px));
	}

	75% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}

	90% {
		@include transform(rotateX(0)rotateY(0)rotateZ(0)translateY(0px)translateZ(0px)translateX(0px));
	}
}