$module: 			'tower-bridge';

.#{$module} {
	pointer-events: none;
	perspective: 800px;
	perspective-origin: right;

	.palette & {
		height: 100%;
	}

	&__image {
		position: relative;
		top: em(13);
		left: em(15);

		.palette & {
			position: static;
		}
	}

	&__inner {
		position: relative;		
		width: 100%;
		height: 100%;
		@include transform(rotateZ(-26.5deg) rotateX(-10deg) rotateY(0deg) translateX(22px) translateY(-15px) skewX(37deg));

		.palette & {
			@include transform(none);
		}
	}	

	&__north, &__south, &__shadow--north, &__shadow--south  {
		width: 50%;
		height: 100%;
		display: block;
		@include background(linear-gradient(to top,salmon 0%, black 100%));
	}

	&__north {
		float: right;
		@include animation(raise_north 14s linear infinite);
		@include transform-origin(right);

		.palette & {
			@include animation(none);
		}
	}

	&__south {
		@include animation(raise_south 14s linear infinite);
		@include transform-origin(left);

		.palette & {
			@include animation(none);
		}
	}

	&__shadows {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__shadow--north, &__shadow--south {
		@include background(rgba(black,0.2));
	}

	&__shadow--north {
		float: right;
		@include animation(shrink_shadow_north 14s linear infinite);
		@include transform-origin(right);

		.palette & {
			@include animation(none);
		}
	}

	&__shadow--south {
		@include animation(shrink_shadow_south 14s linear infinite);
		@include transform-origin(left);

		.palette & {
			@include animation(none);
		}
	}
}