$module: 			'tower-bridge';

.#{$module} {
	pointer-events: none;
	perspective: 800px;
	perspective-origin: right;

	.palette & {
		height: 100%;
	}

	&__image {
		width: 100%;
		height: 100%;
		position: relative;
		top: em(15);
		left: em(36);

		.palette & {
			position: static;
		}
	}

	&__ramp--off {
		position: absolute;
		width: em(50);
		height: em(60);
		background-color: $color1;
		right: em(70);
		top: em(18);
		transform: rotateX(48deg)rotateY(0)rotateZ(43deg);
	}

	&__ramp {
		position: absolute;
		left: em(12);
		bottom: 0;
		width: em(50);
		height: em(50);
		transform: rotateX(48deg)rotateY(0)rotateZ(43deg);
		background-color: $color1;
	}

	&__drawbridge {
		position: absolute;
		transform: rotateX(51deg) rotateY(0deg) rotateZ(41deg);
		top: em(41);
		left: em(147);
		width: em(46);
		height: em(145);
	}

	&__drawbridge-left, &__drawbridge-right {
		width: 100%;
		background-color: $color1;
		height: 50%;
		display: block;
	}

	&__drawbridge-left {
		@include animation(raiseLeft 3s ease-in infinite);
		transform-origin: bottom;
	}

	&__drawbridge-right {
		@include animation(raiseRight 3s ease-in infinite);
		transform-origin: top;
	}

	&__left {
		width: percentage(263/783);
		height: auto;
		position: absolute;
		left: em(10);
		top: em(-8);
	}

	&__right {
		position: relative;
		right: em(84);
		top: em(-106);
		width: percentage(520/783);
		height: auto;
		position: absolute;
	}
}

@keyframes raiseLeft {
	0% {
		@include transform(rotateX(0)rotateZ(0));
	}

	50% {
		@include transform(rotateX(-85deg)rotateZ(-9deg));
	}

	100% {
		@include transform(rotateX(0)rotateZ(0));
	}
}

@keyframes raiseRight {
	0% {
		@include transform(rotateX(0)rotateZ(0));
	}

	50% {
		@include transform(rotateX(-85deg)rotateZ(9deg));
	}

	100% {
		@include transform(rotateX(0)rotateZ(0));
	}
}