$module: 		'article';

.#{$module} {
	height: 100%;
	color: white;
	opacity: 0;	
	@include transition(none);
	padding: 0 em(30) em(215) em(10);
	margin-top: em(215);
	overflow: auto;
	cursor: auto;

	.#{$module}__wrap.active > & {
		@include transition(opacity 0.1s 0.3s linear);
		opacity: 1;
	}

	@include bp(tab-l-b) {
		@include transition(transform 0.15s linear);
		padding: 0 em(35) em(150);
		margin-top: em(130);
		opacity: 1;

		.#{$module}__wrap.active > & {
			@include transition(transform 0.15s linear);
			@include transform(translateY(-100%));			
		}
	}

	&__items {
		width: calc(100vw - 550px);
		vertical-align: top;
		height: 100vh;
		overflow: hidden;
		position: absolute;
		left: 0;
		@include transition-property(transform);
		@include transition-duration(0.3s);
		@include transition-timing-function(linear);
		background-color: rgba(black,0.7);
		@include transform(translateX(0));

		@media(max-width: 1600px) {
			width: calc(100vw - 460px);
		}

		@include bp(tab-xl) {
			width: calc(100vw - 360px);
		}

		&.inactive {
			@include transform(translateX(calc(-100% + 220px)));
		}

		@include bp(tab-l-b) {
			position: absolute;
			top: 100%;
			width: 100%;
			left: 0;
			@include transform(none);
			background-color: transparent;
			overflow: visible;

			&.inactive {
				@include transform(none);
			}
		}
	}

	&__wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0 0 0 em($navWidth);

		&.active {
			z-index: 2;
		}

		@include bp(tab-l-b) {
			padding: 0;
		}
	}

	&__header {
		padding: 0 0 em(30) 0;
		margin-top: em(-5);

		@include bp(tab-xl-b) {
			padding-bottom: 0;
		}
	}

	&__title {
		$fontSize: nth($headingSizes,1);
		@extend .alpha;
		margin-right: em(-260,$fontSize);
		padding-right: 2rem;

		@media(max-width: 1900px) {
			$fontSize: 60;
			font-size: em($fontSize);
		}

		@media(max-width: 1785px) {
			$fontSize: 50;
			font-size: em($fontSize);
			margin-right: em(-50,$fontSize);
		}

		@media(max-width: 1700px) {
			margin-right: 0;
		}

		@include bp(desk-m-a) {
			$fontSize: 40;
			font-size: em($fontSize);
		}

		@include bp(tab-xl-b) {
			$fontSize: 36;
			font-size: em($fontSize);
			margin-bottom: em(30,$fontSize);
		}
	}

	&__title--strong {
		@extend .#{$module}__title;
		$fontSize: 100;
		font-size: em($fontSize);
		margin-bottom: 0;
		color: $color1;
		padding-left: 33%;
		padding-right: 2rem;
		margin-right: 0;

		@media(max-width: 1900px) {
			$fontSize: 60;
			font-size: em($fontSize);
		}

		@media(max-width: 1785px) {
			$fontSize: 50;
			font-size: em($fontSize);
			margin-right: em(-50,$fontSize);
		}

		@media(max-width: 1700px) {
			margin-right: 0;
		}

		@include bp(desk-m-a) {
			padding-left: 0;
			padding-right: 0;
		}

		@include bp(tab-xl-b) {
			$fontSize: 40;
			font-size: em($fontSize);
			margin-bottom: em(30,$fontSize);
		}
	}

	&__copy {
		margin: 0 em(-20);
		@include clearfix;

		@include bp(desk-m-a) {
			$fontSize: 18;
			font-size: em($fontSize);
		}
	}

	&__column {
		width: 33%;
		float: left;
		padding: 0 em(20);
		position: relative;

		@include bp(desk-xxl-a) {
			width: 50%;
		}

		@include bp(desk-m-a) {
			float: none;
			width: 100%;
			padding-bottom: em(10);
			border-bottom: 1px solid white;
			margin-bottom: em(30);
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	&__column--lowered {
		@extend .#{$module}__column;
		padding-top: em(244);
	}

	&__user-story {
		$fontSize: 26;
		color: #30c18f;
		font-size: em($fontSize);
		margin-bottom: em(30,$fontSize);
	}

	&__columns {
		columns: 3;

		@include bp(desk-l-a) {
			columns: 2;
		}

		@include bp(desk-m-a) {
			columns: 1;
		}

		@include bp(tab-l-b) {
			columns: 2;
		}

		@include bp(mob-xl) {
			columns: 1;
		}
	}

	&__facts {
		border: 2px solid $color4;
		border-radius: em(10);
		padding: em(15) em(20);
		margin-top: em(350);

		@include bp(desk-xxl-a) {
			margin-top: 0;
		}

		&__fact {
			margin-bottom: em(25);
		}
	}
}