$module: 		'shard';

.#{$module} {
	&__svg {
		width: 100%;
		height: auto;
		position: relative;
		top: em(23);
		left: em(-31);

		.palette & {
			position: static;
			height: em(94);
			width: auto;
		}
	}

	&__balloon {
		position: absolute;
		bottom: 0;
		right: 0;
		width: em(80);
		height: auto;
		opacity: 0;

		.#{$module}.active & {
			@include animation(flyBalloon 10s 1.5s linear forwards);
		}		

		.palette & {
			display: none;
		}
	}
}

@keyframes flyBalloon {
	0% {
		opacity: 0;
		@include transform(translateY(0)translateX(0)translateZ(0));
	}
	25% {
		opacity: 1;
		@include transform(translateY(-150px)translateX(-15px)translateZ(0));
	}
	50% {
		opacity: 1;
		@include transform(translateY(-300px)translateX(-30px)translateZ(0));
	}
	75% {
		@include transform(translateY(-450px)translateX(-50px)translateZ(0));
		opacity: 1;
	}
	100% {
		@include transform(translateY(-600px)translateX(-25px)translateZ(0));
		opacity: 0;
	}
}